@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333446;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-primary: var(--font-pathway);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333446;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
